<div class="">
    <img src="../../../../assets/img/kunnu.jpg" >
</div>
    <div class="wrapper">        
        <div class="d-flex flex-column justify-content-center align-items-center text-center" >
            <h3 class="display-4">Welcome</h3>
            <p class="lead px-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima exercitationem molestias culpa assumenda sint quos amet vitae excepturi, animi iusto ad quis maiores veniam, magnam iure labore dolorum ipsum sapiente.</p>
        </div>
    </div>

 