<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h3 class="text-danger">Customers Information</h3>
            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur dolores perspiciatis ducimus vero! Eveniet debitis laborum eos nisi id. Tempora aut error consequuntur velit, eum iure! Beatae incidunt totam eveniet?</p>
        <p class="row btn btn-danger text-white">
            <a routerLink="/customers/list">All Customers</a>        
        </p>
        </div>
    </div>
</div>