<div class="container">
    <div class="row">
        <div class="col">
            <p class="h2">Customer Profile</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident pariatur earum magni nostrum id. Eveniet corporis, aliquid eum dignissimos voluptatum iure necessitatibus velit tempora, libero quod ipsum maxime, unde voluptates!</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-3">
                        <img [src]=""/>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group mt-3">
                            <li class="list-group-item">Hi</li>
                            <li class="list-group-item">Hkl</li>
                            <li class="list-group-item">JHGJhg</li>
                            <li class="list-group-item">kjgjk</li>
                            <li class="list-group-item">mvmhb</li>
                            <li class="list-group-item">jygj</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
