/* You can add global styles to this file, and also import other style files */
.landing-page{
    background-size:cover;
    height: 50vh;
    color:whitesmoke;
}

.wrapper{
    background-color: rgba(0,0,0,0.5);
    height: 50%;
}